<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Configuration.plist
   Script_odont

   Created by Régis Iozzino on 27/03/2019.
   Copyright (c) 2019 Régis Iozzino. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
